html{
	font-family: Oxygen, sans-serif;
}
.silver {
	background-color: #eeeeee;
}
.grey{
	background-color: silver;
}
.drkgrey {
	background-color: grey;
}
a{
	text-decoration: none;
	color: black;
}
.social {
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;}
.button {
	border-radius: .55em;
	text-align: center;
	padding: .25em .5em;
	font-weight: normal;
}
.input {
	border-radius: .55em;
	text-align: left;
	padding: .25em .5em;
	font-weight: normal;
	width: 100%;
	border: 0;
}
.select {
	height: 2.5em;
}
.guttersub {
	padding-left: 1em;
	padding-right: 1em;
}
.black {
	background-color: black;
}
.white{
	color: white;
}
.sides{
	padding: 0 1em;
}
.sidesgutter{
	padding: 0 .5em;
}
.sidessub{
	padding: 0 0;
}
.bus{
	background-image: url(../images/bus.jpg);
	background-size: cover;
	background-position: 0;
}
.bus h1 {
	max-width: 10em;
}
.one {
	background-color: #D3D3D3;
}
.three {
	background-color: #D3D3D3;
}
@media only screen and (min-width: 25em) {
li {
	display: inline-block;
}
ol{
	text-align: center;
}
}
@media only screen and (min-width: 38em) {
.guttersub {
	padding-left: 0.7500rem;
	padding-right: 0.7500rem;
}
nav ol{
	text-align: right;
}
footer ol{
	text-align: left;
}
.sides{
	padding: 0 2em;
}
.sidesgutter{
	padding: 0 1.5em;
}
.sidessub{
	padding: 0 1.5em;
}
.bus{
	padding-bottom: 8em;
}
.three{
	background-color: silver;
}
.four {
	background-color: #D3D3D3;
}
}
@media only screen and (min-width: 60em) {
.one {
	background-color: silver;
}
.two{
	background-color: #D3D3D3;
}
.sides{
	padding: 0 5em;
}
.sidesgutter{
	padding: 0 4.5em;
}
.sidessub{
	padding: 0 4.5em;
}
.bus{
	padding-bottom: 12em;
}
.mw{
	max-width:70em;
}
}
